.main-login {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    height: 100vh;
    display: flex;
}

.left-login-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.left-login-image {
    flex: .1;
}

.left-login-sign {
    flex: .9;
    padding-top: 120px;
}

/* Sign In Styles */
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-wrapper {
    width: 60%; 
}

.login-input {
    width: 100%;
}

.input,
.login-password-input,
.login-forgot-password,
.login-button,
.passsword-input {
    width: 100%;
}

.o-auth-login-small {
    display: none;
}

@media only screen and (max-width: 600px) {
    /* Sign In Styles */

    .login-input,
    .input,
    .login-password-input,
    .passsword-input,
    .login-forgot-password, .login-wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .main-login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-login-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left-login-wrapper {
        display: flex;
        align-items: center;
    }

    .left-login-image {
        flex: 1;
    }

    .left-login-sign {
        flex: 1;
        padding-top: 10px;
    }

    .saly-image {
        display: none;
    }

    /* Sign In Styles */

    .login,
    .login-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .o-auth-login-large {
        display: none;
    }

    .o-auth-login-small {
        display: flex;
    }

    .login-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .login-signin-text {
        display: none;
    }

}

@media only screen and (max-width: 768px) and (min-width: 600px) {
    .login-wrapper {
        width: 60%; /* Set to 60% */
    }
}