@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Inter", sans-serif;
}

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

select{
  background-color: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
}